---
name: Build Checks
on:
  workflow_call:

jobs:
  source:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - uses: google/wireit@setup-github-actions-caching/v2

      - name: Setup dependencies, cache and install
        uses: ./.github/actions/install

      - name: Lint plugin
        run: npm run lint

      - name: Build plugin
        run: npm pack

      - name: Unit test
        run: npm run test:unit -- --runInBand

      - name: NUT test
        run: npm run test:nut -- --runInBand

      - uses: actions/upload-artifact@v6
        with:
          name: coverage-test-report
          path: reports/coverage
