---
name: E2E Tests a published version
on:
  workflow_call:
    inputs:
      channel:
        type: string
        default: latest-rc

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Set environment variables
        run: |
          echo "SF_DISABLE_AUTOUPDATE=true" >> "$GITHUB_ENV"
          echo "SF_DISABLE_TELEMETRY=true" >> "$GITHUB_ENV"

      - name: Install cli
        run: npm install -g @salesforce/cli

      - name: Install new plugin version
        run: echo y | sf plugins install apex-mutation-testing@${{ inputs.channel }}

      - name: Test new plugin version installation
        run: sf apex mutation test run --help

      - name: Authenticate to E2E test org
        run: echo "${{ secrets.SFDX_AUTH_URL }}" | sf org login sfdx-url --alias e2e-test-org --set-default --sfdx-url-stdin

      - name: Reset test classes
        run: npm run deploy:testclasses

      - name: E2E Tests
        run: |
          mkdir -p reports/e2e
          sf apex mutation test run --target-org e2e-test-org --apex-class Mutation --test-class MutationTest --report-dir reports/e2e --json
      
      - name: Reset test classes
        run: npm run deploy:testclasses

      - uses: actions/upload-artifact@v4
        with:
          name: e2e-test-report
          path: reports/e2e
