---
name: E2E Tests a published version
on:
  workflow_call:
    inputs:
      channel:
        type: string
        default: latest-rc

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Set environment variables
        run: |
          echo "SF_DISABLE_AUTOUPDATE=true" >> "$GITHUB_ENV"
          echo "SF_DISABLE_TELEMETRY=true" >> "$GITHUB_ENV"

      - name: Install cli
        run: npm install -g @salesforce/cli

      - name: Install new plugin version
        run: echo y | sf plugins install apex-mutation-testing@${{ inputs.channel }}

      - name: Test new plugin version installation
        run: sf apex mutation test run --help

      - name: Authenticate to E2E test org
        env:
          SFDX_AUTH_URL: ${{ secrets.SFDX_AUTH_URL }}
        run: echo "$SFDX_AUTH_URL" | sf org login sfdx-url --alias e2e-test-org --set-default --sfdx-url-stdin

      - name: Setup - Deploy test classes
        run: npm run test:e2e:setup

      - name: Execute - Run mutation testing
        run: |
          mkdir -p reports/e2e
          npm run test:e2e:run

      - name: Validate - Check snapshot
        run: npm run test:e2e:validate

      - name: Teardown - Reset test classes
        if: always()
        run: npm run test:e2e:teardown

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-test-report
          path: reports/e2e
